<div>
    <p class="text-center text-muted">© Copyright 2021 OneSoft</p>
    <p class="text-center text-muted">Git Hub: npolohach@gmail.com</p>
    <p class="text-center text-muted">Telegram: 380689036010</p>
</div>
