<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<main>
    <h1>
        Тестове завдання "Штрих код"
    </h1>
    <div class="jumbotron">
        <p>В вашому додатку ви повинні відсканувати цей код та отримати по ньому дані</p>
        <img src="/static/barcode.gif" />
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>